p{
    padding: 0 auto;
    margin: 0 auto;
    
}
button{
    padding: 30px;
    margin: auto;
}
#logo img{
    height: 70px;
    width: 100px;
}
img{
    height: 30vh;
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
}